body {
    font-family: Arial, sans-serif;
    background-color: #4a9ef2af;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    flex-grow: 1;
    margin-right: 10px;
}

#answerTL {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    /* Để tạo thanh cuộn dọc */
    resize: none;
    overflow-y: scroll;
    height: 80px;
}

input[type="text"],
input[type="date"] {
    width: 50%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    /* width: 100%; */
}

button {
    border-radius: 10px;
    border-collapse: collapse;
    border: 1px #761b1b solid;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #f90101;
}

#surveyForm {
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    margin-top: 20px;
}

#surveyQuestions {
    margin-left: 80px;
}

#pick,
.answer label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 9px;
}

.answer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Thêm khoảng cách giữa các câu trả lời */
}

.answer label,
.multipleChoice label {
    margin-right: 1px;
    /* Thêm khoảng cách giữa nhãn và radio */
}